.add-new-product-content-bg {
    background-color: rgb(242, 245, 229);
}
.input-bg-add-new-product {
    color: black;
    border: 1px solid black;
    background-color: rgb(255, 255, 255) !important;
}
.database-icon {
    font-size: 200px;
    opacity: 0.1;
}
@media screen and (min-width: 992px){
    .database-icon {
        font-size: 350px;
        opacity: 0.1;
    }
}
@media screen and (min-width: 1200px){
    .database-icon {
        font-size: 450px;
        opacity: 0.1;
    }
}