.dashboard-bg {
    background-color: rgb(233, 232, 223);
}
.border-bottom-design-dashboard {
    border-bottom: 2px solid rgb(233, 232, 223);
    padding-bottom: 7px;
}
.border-bottom-design-dashboard:hover {
    border-bottom: 2px solid black;
    transition: 0.3s;
}
.nav-link-dashboard {
    color: black !important;
    text-decoration: none;
    transition: 0.3s;
}
@media screen and (min-width: 992px){
    .dashboard-content{
        min-height: calc(100vh - 58px);
    }
}